.blog-container{
  display: flex;
 margin-left: 6%;
}

.flip-card {
  background-color: transparent;
  width: 690px;
  height: 454px;
  perspective: 1000px;
  font-family: sans-serif;
  margin: 66px;
  
 
}

.title {
  font-size: 1.5em;
  font-weight: 900;
  text-align: center;
  margin: 0;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  box-shadow: 0 8px 14px 0 rgba(0,0,0,0.2);
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
 
  border-radius: 1rem;

}

.flip-card-front {
  background-color: #4C4E52;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  color: white;
  font-weight: 800;
  padding: 16px;
}

.flip-card-back {
  background: linear-gradient(120deg, #FAA123 30%, coral 88%,
     bisque 40%, rgb(255, 185, 160) 78%);
  color: white;
  transform: rotateY(180deg);
  padding: 16px;
  text-align: left; 
}
.external-link{
  color: #4C4E52;
}
.felix{
padding: 5%;
}
.felix1{
  padding: 5%;
}
@media (max-width: 768px) {
  .blog-container {
    margin-left: 4%;
  }

  .flip-card {
    max-width: 550px; /* Ancho máximo más pequeño para tabletas */
  }

  .title, .flip-card-front, .flip-card-back {
    font-size: 1.2em; /* Tamaño de fuente más pequeño para tabletas */
  }
}

/* Estilos para pantallas pequeñas (teléfonos móviles, por ejemplo) */
@media (max-width: 480px) {
  .blog-container {
    margin-left: 1%;
    display: flex; /* Utiliza flexbox */
    flex-direction: column; /* Organiza los elementos en una columna */
    width: 70%;
  }

  .flip-card {
    max-width: 100%; /* Permite que la tarjeta se expanda al ancho completo en teléfonos móviles */
    margin-bottom: 10px; /* Añade un margen entre tarjetas */
  }

  .title, .flip-card-front, .flip-card-back {
    font-size: 1em; /* Tamaño de fuente más pequeño para teléfonos móviles */
  }

 
  .external-link, .felix {
    padding: 3%; /* Padding más pequeño para adaptarse a pantallas más pequeñas */
  }
}
@media (max-width: 1024px) {
  .flip-card-back {
    padding: 14px; /* Ajuste del padding para tabletas */
    /* El resto de propiedades se mantienen */
  }
}

/* Para tabletas más pequeñas (768px a 600px) */
@media (max-width: 768px) {
  .flip-card-back {
    padding: 12px; /* Ajuste del padding para tabletas más pequeñas */
    /* El resto de propiedades se mantienen */
  }
}

/* Para teléfonos móviles grandes (600px a 480px) */
@media (max-width: 600px) {
  .flip-card-back {
    padding: 10px; /* Ajuste del padding para teléfonos móviles grandes */
    /* El resto de propiedades se mantienen */
  }
}

/* Para teléfonos móviles pequeños (menos de 480px) */
@media (max-width: 480px) {
  .flip-card-back {
    padding: 8px; /* Ajuste del padding para teléfonos móviles pequeños */
    /* El resto de propiedades se mantienen */
  }
}

/* Para tabletas (1024px a 768px) */
@media (max-width: 1024px) {
  .felix {
      padding: 4%; /* Padding ajustado para tabletas */
     
  }
}

/* Para tabletas más pequeñas (768px a 600px) */
@media (max-width: 768px) {
  .felix {
      padding: 3.5%; /* Padding ajustado para tabletas más pequeñas */
      
  }
}

/* Para teléfonos móviles grandes (600px a 480px) */
@media (max-width: 600px) {
  .felix {
      padding: 3%; /* Padding ajustado para teléfonos móviles grandes */
      
  }
}

/* Para teléfonos móviles pequeños (menos de 480px) */
@media (max-width: 480px) {
  .felix {
      padding: 2.5%; /* Padding ajustado para teléfonos móviles pequeños */
      width: 270px;
      height: 100px;
      margin-top: -100px;
      font-size: 14px;
  }
}

/* Para tabletas (1024px a 768px) */
@media (max-width: 1024px) {
  .felix1 {
      padding: 4%; /* Padding ajustado para tabletas */
     
  }
}

/* Para tabletas más pequeñas (768px a 600px) */
@media (max-width: 768px) {
  .felix1 {
      padding: 3.5%; /* Padding ajustado para tabletas más pequeñas */
  }
}

/* Para teléfonos móviles grandes (600px a 480px) */
@media (max-width: 600px) {
  .felix1 {
      padding: 3%; /* Padding ajustado para teléfonos móviles grandes */
      
  }
}

/* Para teléfonos móviles pequeños (menos de 480px) */
@media (max-width: 480px) {
  .felix1 {
      padding: 2.5%; /* Padding ajustado para teléfonos móviles pequeños */
      width: 270px;
      height: 100px;
      margin-top: -300px;
      font-size: 12px;
  }
}