@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");
.navbar-nav .nav-link {
  font-family: "Poppins", sans-serif;
  color: #000000;
}
.manoloo267 {
  color: #4c4e52;
  font-family: "Poppins", sans-serif;
}
.pepe35{
  margin-right: 4%;
}
.mendiza{
  width: 320px;
  
}
.maria{
  width: 20%;
  margin-right: 30%;
  margin-left: 5cm;
}
.mendiza1{
  width: 220px;
}
.image-container21{
  margin-top: 4.5%;
  height: 300px;
  position: absolute;
  top: -300px; /* Colocar el contenedor fuera de la vista */
  left: 0;
  right: 0;
  background-color: #F8F9FA; /* Opcional: Puedes establecer un color de fondo si deseas */
  z-index: 1000; /* Ajusta este valor según sea necesario para asegurarte de que esté por encima del contenido */
  display: flex;
  align-items: center;
  justify-content: center; /* Esto centrará horizontalmente las imágenes */
  transform: translateY(0);
  transition: transform 0.5s; /* Agrega una transición para suavizar el desplazamiento vertical */
}

.image-container21.show {
  transform: translateY(300px);
}
@media (max-width: 992px) {
  .navbar-nav {
      flex-direction: row; /* Elementos en fila */
      justify-content: flex-start; /* Alineación a la izquierda */
  }

  .nav-item {
      flex-grow: 1; /* Permite que los elementos crezcan para llenar el espacio disponible */
      text-align: left; /* Alineación del texto a la izquierda */
  }
}

/* Media query para pantallas pequeñas (móviles) */
@media (max-width: 768px) {
  .navbar-nav {
      flex-direction: column; /* Elementos en columna */
  }

  .nav-item {
      width: 100%; /* Cada elemento ocupa el ancho completo */
  }
}
@media (max-width: 768px) {
  .image-container21 {
    height: 250px; /* Altura más pequeña para tabletas */
    top: -250px; /* Ajusta la posición superior para tabletas */
  }
}

/* Ajustes para teléfonos móviles grandes */
@media (max-width: 600px) {
  /* Selector para tus imágenes dentro del contenedor desplegable */
  .image-container21 img {
    width: 100%; /* Hace que cada imagen ocupe el ancho completo */
    height: auto; /* Mantiene la relación de aspecto de la imagen */
    display: block; /* Hace que cada imagen se muestre en su propia línea */
    margin-bottom: 10px; /* Añade algo de espacio entre las imágenes */
   
  }
}
/* Ajustes para teléfonos móviles pequeños */
@media (max-width: 480px) {
  .image-container21 {
    height: 150px; /* Altura más pequeña para teléfonos pequeños */
    top: -150px; /* Ajusta la posición superior para teléfonos pequeños */
  }
}
@media (max-width: 320px) {
  .image-container21 {
    height: 120px; /* Altura aún más pequeña para dispositivos muy pequeños */
    top: -120px; /* Ajusta la posición superior para que coincida con la nueva altura */
    /* Ajustes adicionales para dispositivos muy pequeños */
    max-width: 100%;
  }
}
@media (max-width: 768px) {
  .mendiza1 {
    width: 180px; /* Reduce el ancho para tabletas */
  }
}

/* Ajustes para teléfonos móviles grandes (dispositivos con anchos de hasta 600px) */
@media (max-width: 600px) {
  .mendiza1 {
    width: 150px; /* Reduce aún más el ancho para teléfonos grandes */
  }
}

/* Ajustes para teléfonos móviles pequeños (dispositivos con anchos de hasta 480px) */
@media (max-width: 480px) {
  .mendiza1 {
    width: 120px; /* Reduce aún más el ancho para teléfonos pequeños */
  }
}

/* Ajustes para dispositivos muy pequeños (dispositivos con anchos de hasta 320px) */
@media (max-width: 320px) {
  .mendiza1 {
    width: 50px; /* Reduce el ancho para dispositivos muy pequeños */
  }
}
@media (max-width: 768px) {
  .pepe35 {
    margin-right: 3%; /* Reduce ligeramente el margen para tabletas */
  }
}

/* Ajustes para teléfonos móviles grandes (dispositivos con anchos de hasta 600px) */
@media (max-width: 600px) {
  .pepe35 {
    margin-right: 2%; /* Reduce más el margen para teléfonos grandes */
  }
}

/* Ajustes para teléfonos móviles pequeños (dispositivos con anchos de hasta 480px) */
@media (max-width: 480px) {
  .pepe35 {
    margin-right: 1%; /* Margen mínimo para teléfonos pequeños */
  }
}

/* Ajustes para dispositivos muy pequeños (dispositivos con anchos de hasta 320px) */
@media (max-width: 320px) {
  .pepe35 {
    margin-right: 0.5%; /* Margen aún más pequeño para dispositivos muy pequeños */
  }
}
/* Ajustes para tabletas (dispositivos con anchos de hasta 768px) */
@media (max-width: 768px) {
  .mendiza1 {
    width: 180px; /* Reduce el ancho para tabletas */
  }
}

/* Ajustes para teléfonos móviles grandes (dispositivos con anchos de hasta 600px) */
@media (max-width: 600px) {
  .mendiza1 {
    width: 150px; /* Reduce aún más el ancho para teléfonos grandes */
  }
}

/* Ajustes para teléfonos móviles pequeños (dispositivos con anchos de hasta 480px) */
@media (max-width: 480px) {
  .mendiza1 {
    width: 120px; /* Reduce aún más el ancho para teléfonos pequeños */
  }
}

/* Ajustes para dispositivos muy pequeños (dispositivos con anchos de hasta 320px) */
@media (max-width: 320px) {
  .mendiza1 {
    width: 100px; /* Reduce el ancho para dispositivos muy pequeños */
  }
}
@media (max-width: 768px) {
  .image-container21.show {
    transform: translateY(250px); /* Desplazamiento ajustado para tabletas */
  }
}

/* Ajustes para teléfonos móviles grandes (dispositivos con anchos de hasta 600px) */
@media (max-width: 600px) {
  .image-container21.show {
    margin-top:40%;
    transform: translateY(200px); /* Desplazamiento ajustado para teléfonos grandes */
  }
}

/* Ajustes para teléfonos móviles pequeños (dispositivos con anchos de hasta 480px) */
@media (max-width: 480px) {
  .image-container21.show {
    transform: translateY(150px); /* Desplazamiento ajustado para teléfonos pequeños */
  }
}

/* Ajustes para dispositivos muy pequeños (dispositivos con anchos de hasta 320px) */
@media (max-width: 320px) {
  .image-container21.show {
    transform: translateY(100px); /* Desplazamiento ajustado para dispositivos muy pequeños */
  }
}
@media (max-width: 1024px) {
  .maria {
      width: 25%; /* Ancho ajustado para tabletas */
      margin-right: 25%; /* Margen derecho ajustado */
      margin-left: 4cm; /* Margen izquierdo ajustado */
  }
}

/* Para tabletas más pequeñas (768px a 600px) */
@media (max-width: 768px) {
  .maria {
      width: 30%; /* Ancho ajustado para tabletas más pequeñas */
      margin-right: 20%; /* Margen derecho ajustado */
      margin-left: 3cm; /* Margen izquierdo ajustado */
  }
}

/* Para teléfonos móviles grandes (600px a 480px) */
@media (max-width: 600px) {
  .maria {
      width: 35%; /* Ancho ajustado para teléfonos móviles grandes */
      margin-right: 15%; /* Margen derecho ajustado */
      margin-left: 1cm; /* Margen izquierdo ajustado */
  }
}

/* Para teléfonos móviles pequeños (menos de 480px) */
@media (max-width: 480px) {
  .maria {
      width: 40%; /* Ancho ajustado para teléfonos móviles pequeños */
      margin-right: 10%; /* Margen derecho ajustado */
      margin-left: 1cm; /* Margen izquierdo ajustado */
  }
}